<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="Token" value="fccfa232f62a053112be616c8ebac24e"/>
		<add key="ApiUrl" value="https://api.openweathermap.org/data/2.5/weather?q="/>
		<add key="Units" value="metric"/>
	</appSettings>
</configuration>
